# ===== TESSERACT PATH =====
# Windows example:
TESSERACT_PATH=C:\Program Files\Tesseract-OCR\tesseract.exe

# Linux/Mac example:
# TESSERACT_PATH=/usr/bin/tesseract

# ===== OCR SETTINGS =====
OCR_CONFIDENCE=0.3
YOLO_CONFIDENCE=0.3

# ===== YOLO MODEL =====
YOLO_MODEL_NAME=yolov8s.pt

# ===== TRAINING SETTINGS =====
TRAIN_EPOCHS=100
TRAIN_BATCH_SIZE=8
TRAIN_IMG_SIZE=640
TRAIN_MODEL_NAME=plate_model

# ===== ENVIRONMENT =====
# dev hoặc production
ENVIRONMENT=dev